<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%sveltekit.assets%/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    %sveltekit.head%
  </head>
  <!-- Some preset themes include special styles, such as a background.
  To use these, set the data-theme attribute in your app.html body tag.
  https://www.skeleton.dev/guides/themes -->
  <body data-theme="skeleton">
    <!-- https://www.skeleton.dev/components/app-shell -->
    <div style="display: contents" class="app-container h-full overflow-hidden">
      %sveltekit.body%
    </div>
  </body>
</html>
